xml/dtd/audios.dtd

<!ELEMENT audios (audio)*>
<!ATTLIST audios ult_id IDREF #REQUIRED>
<!ELEMENT audio (fecha, nombre, comentario,extension, image)>
<!ATTLIST audio id ID #REQUIRED>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT comentario (#PCDATA)>
<!ELEMENT extension (#PCDATA)>
<!ELEMENT image (#PCDATA)>

